.mainWhat img {
  position: fixed;
  z-index: 999999999;
  width: 64px;
  cursor: pointer;
  width: 64px;
  color: white;
  bottom: 0;
  right: 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.mainWhat img:hover {
  width: 80px;
}
