@import "/src/vars.css";
.blogcontentcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainVideo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.mainVideo h3 {
  font-family: var(--font-poppins);
  letter-spacing: 5px;
}
.mainVideo h1 {
  font-size: 3rem;
}
.blogcontent {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 3rem 2rem;
}

.MainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 0rem 2rem;
  gap: 5rem;
}
.mainComponent {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.mainComponent a {
  cursor: pointer;
  padding: 0rem;
}
.mainText {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}
.mainText a {
  font-size: 2rem;
}
.mainText p {
  font-size: 0.8rem;
  font-family: var(--font-roboto);
}
.mainComponent img {
  width: 400px;
  border: solid black 3px;
}
.readLink h6 {
  font-family: var(--font-roboto);
  color: black;
  font-size: 1rem;
}
.SideBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.SideBar {
  padding: 2rem 0rem;
}
.headerRow h1 {
  text-decoration: underline;
  font-family: var(--font-roboto);
  font-size: 1rem;
}
.SideBarCard {
  display: flex;
  gap: 1rem;
  padding: 1rem 0rem;
  padding: 1rem 0.5rem;
}
.SideBarCard img {
  width: 150px;
}
.textContent {
  width: 70%;
}
.textContent p {
  font-family: var(--font-poppins);
  font-size: 0.8rem;
}
.textContent h5 {
  font-family: var(--font-poppins);
  font-size: 0.8rem;
  color: gray;
}
/*MAIN TEXT*/
.MainContentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 70%;
  padding: 0rem 2rem;
}
.MainContentText h2 {
  font-family: var(--font-roboto);
  font-weight: 600;
}
.MainContentText p {
  font-family: var(--font-roboto);
  font-weight: 400;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  @import "/src/vars.css";
  .blogcontent {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0rem;
  }

  .MainContent {
    width: 100%;
  }
  .SideBar {
    display: none;
  }
  .mainComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
  }
  .mainText {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
  }
  .mainText a {
    font-size: 2rem;
  }
  .mainText p {
    font-size: 0.8rem;
    font-family: var(--font-roboto);
  }
  .mainComponent img {
    width: 250px;
    border: solid black 3px;
  }
  .readLink h6 {
    font-family: var(--font-roboto);
    color: black;
    font-size: 1rem;
  }
  .mainVideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }
  .mainVideo h3 {
    font-family: var(--font-poppins);
    letter-spacing: 5px;
  }
  .mainVideo h1 {
    font-size: 2rem;
  }
  .MainContentText {
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .MainContentText h2 {
    font-family: var(--font-roboto);
    font-weight: 600;
  }
  .MainContentText p {
    font-family: var(--font-roboto);
    font-weight: 400;
  }
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .imageContainer img {
    width: 250px;
  }
}
