@import "/src/vars.css";
.navbar {
  width: 100%;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0rem 2rem;
  color: white;
  z-index: 99999;
  background-color: var(--color-primary-dark);
}
.logo img {
  width: 50px;
}
.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.socialLink {
  display: flex;
  gap: 1vw;
}
.socialLink a {
  color: black;
}
.navLink {
  text-decoration: none;
  font-size: 1.25rem;
  color: black;
  font-weight: 600;
  font-family: var(--font-roboto);
}
.toggleMenuContainer {
  display: none;
}
:global(.active) {
  text-decoration: underline;
}
/*===============================================================*/
/*MOBILE*/
@media (max-width: 768px) {
  .toggleMenuContainer {
    display: flex;
  }
}

/*MOBILE*/
