@import "/src/vars.css";

.newsmain {
  display: flex;
  padding: 2rem;
  gap: 1rem;
  color: black;
}
.newsmain a {
  color: #000;
  box-shadow: 5px 5px black;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.newsmain a:hover {
  box-shadow: none;
}
.headSliderText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-primary-dark);
  width: 20%;
  gap: 0.5rem;
  border: solid black 3px;
}
.headSliderText p {
  font-family: var(--font-roboto);
  text-align: center;
}
.headSliderText h4 {
  color: #000;
  font-size: 1.5rem;
}
.headerSec {
  position: relative;
  height: 90vh;
  background-color: var(--color-primary);
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  overflow: hidden;
}
.headerEl1 {
  grid-row: 1/5;
  grid-column: 1/4;
  background-image: url("/HEADERSEC/HEADERWOMENHEAD.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.headerEl3 {
  grid-row: 6/10;
  grid-column: 1/4;
  background-image: url("/HEADERSEC/HEADEROPENBOOK.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 300px;
}
.headerEl4 {
  grid-row: 5/11;
  grid-column: 8/11;
  background-image: url("/HEADERSEC/HEADERWILL.png");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: right;
}
.headerEl5 {
  grid-row: 7/11;
  grid-column: 4/8;
  /* background: url("HEADERLYINGGIRL.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain; */
}
.headerEl6 {
  grid-row: 1/7;
  grid-column: 6/11;
  background-image: url("/HEADERSEC/HEADERBOOKBLACK.png");
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: center;
}

/*HEADER CONTENT*/
.headerEl10 {
  z-index: 1;
  grid-row: 1/11;
  grid-column: 1/11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.headerEl10 img {
  width: 100px;
  margin-bottom: 2rem;
}
.headerEl10 h3 {
  font-family: var(--font-poppins);
  color: var(--color-secondary);
  letter-spacing: 5px;
  font-weight: 400;
}
.headerEl10 h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.headerEl10 p {
  padding: 0rem 20rem;
  font-family: var(--font-roboto);
  text-align: center;
}
.publishLink {
  font-family: var(--font-roboto);
  text-decoration: none;
  background-color: var(--color-secondary);
  padding: 1rem 2rem;
  color: white;
  font-weight: 400;
}
/*MOBILE*/
@media (max-width: 768px) {
  .newsmain {
    flex-direction: column;
  }
  .headSliderText {
    width: 100%;
    gap: 0.5rem;
  }
  .headSliderText p {
    font-family: var(--font-roboto);
    text-align: center;
  }
  .headSliderText h4 {
    color: #0c0f42;
    font-size: 1.5rem;
  }
  .headerEl10 h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .headerEl10 img {
    margin-bottom: 0.5rem;
  }
  .headerEl10 {
    margin-top: 10px;
    grid-row: 1/11;
    padding: 1.3rem;
  }
  .headerEl10 h3 {
    letter-spacing: 2px;
    font-weight: 400;
  }
  .headerEl10 h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .headerEl10 p {
    padding: 0rem 0rem;
    width: 90%;
    text-align: justify;
  }
  .publishLink {
    padding: 1rem 1.5rem;
    margin-top: 10px;
  }

  .headerEl2 {
    display: none;
  }
  .headerEl5 {
    display: none;
  }
  .headerEl7 {
    display: none;
  }
  .headerEl8 {
    display: none;
  }
  .headerEl3 {
    grid-row: 6/11;
    grid-column: 1/6;
    background-size: 150px;
    background-position: bottom;
  }
  .headerEl4 {
    background-position: bottom;
    background-size: 100px;
  }
  .headerEl6 {
    grid-row: 1/4;
    background-size: 140px;
    background-position: center;
  }
  .headerEl9 {
    display: none;
  }
}
